.card{
    float: left;
    width:100%
 }
.navbar{
    border: medium none; 
    float: left; 
    margin-bottom: 0px; 
    width: 100%; 
    border-radius: 0
}
.banner-sec{float: left;
 width: 100%;
  background: url("https://images.unsplash.com/photo-1508928807352-24a4adbb6795?ixlib=rb0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bee28b7b28285dd496417cbfefae21b2&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed; 
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.top-nav{
    background: #fff; 
    padding: 0; 
    border-bottom: 1px solid #dbdbdb
}
.top-nav .nav-link {
    padding-bottom: 0.7rem; 
    padding-top: 0.7rem;
}
.top-nav .navbar-nav .nav-item + .nav-item{
    margin-left:0
}
.top-nav li a{
    color: #141517; 
    text-transform: uppercase; 
    font-size: 14px; 
    font-weight: 700; 
    padding: 0 10px; 
    border-bottom: 2px solid #fff
}
.top-nav li a:hover, .top-nav li a:focus, .top-nav li.active a{
    color: #141517; 
    border-bottom: 2px solid #FD3A13 
}

.banner-sec .card{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        border: 0.5px solid rgba(0,0,0,.2);
        border-radius: 1.1rem;
        outline: 0;
}
.myform{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #F7F7F7;
        background-clip: padding-box;
        border: 0.5px solid rgba(0,0,0,.2);
        border-radius: 1.1rem;
        outline: 0;
        max-width: 500px;
}
 .tx-tfm{
 text-transform:uppercase;
 }

 .mybtn{
 border-radius:50px;
 }
 .login-or {
 position: relative;
 color: #aaa;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 }
 .span-or {
 display: block;
 position: absolute;
 left: 50%;
 top: -2px;
 margin-left: -25px;
 background-color: #fff;
 width: 50px;
 text-align: center;
 }
 .hr-or {
 height: 1px;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 }
  form .error {
 color: #ff0000;
 }